/*
css syntax
selector {property : value ; }

selector {element , id , class}
*/

/* 1- element */
body{background-color: #0d1117;}


/* 2- ID */
#select{
    color: #fff;
}

/* 3- CLASS */
.select{
    color: #fff;
}

/* other selector */
/* 1- universal selector */
*{color: #fff}

/* 2- combinators & Multiple Selector */
h2, .h2 , #h2{
    /* multi selector */
    color: aqua;
}

div p {
    /* p inside div */
    color: #fff;
}

div > p {
    /* p direct chiled of div */
    color: #fff;
}

div + p{
    /* p direct after div */
    color: #fff;
}

div ~ p{
   /* all p after div */
   color: #fff;
}

/* attribute selectors */


[width = "105px"] /* all elements has attribute width = 105px */{
    color: antiquewhite;
}

[width ^= "1"] /* all elements has attribute width start from 1 */{
    color: antiquewhite;
}

[width $= "1px"] /* all elements has attribute width end to 1 */{
    color: antiquewhite;
}

[width *= "1"] /* all elements has attribute width Containing 1 */{
    color: antiquewhite;
}

/* pseudo elements */
/* 1- ::after */
div::after {
content:"hi";
}

/* 2- ::before */
div::before {
content:"by";
}

/* 3- ::first-letter */
div::first-letter {
   color: beige;
}

/* 4- ::first-line */
div::first-line {
    color: beige;
}

/* 5- ::selection */
div::selection {
    color: coral;
 }

 /* pseudo class */
 /* 1- :hover */
div:hover{
    color: aqua;
}

/* 2- : */



/* display list item */
.contianir{
    display: list-item;
    background: #82858b;
    height: 250px;
}
.a{
    display: list-item;
    background: #38b412;
    height: 250px;
    list-style-position: inside;
}
.b{
    display: list-item;
    background: #268032;
    height: 250px;
}
.c{
    display: list-item;
    background: #014add;
    height: 250px;
}
.d{
    display: list-item;
    background: rgb(161, 34, 34);
    height: 250px;
}

/* display table */
.contianir21{
    display: table;
    background: #82858b;
    height: 250px;
}
.a2{
    display: table-caption;
    background: #38b412;
    height: 250px; 
}
.b2{ 
    display: table-header-group;
    background: #268032;
    height: 250px;
}
.c2{ 
    display: table-row-group;
    background: #014add;
    height: 250px;
}
.d2{ 
    background: rgb(161, 34, 34);
    height: 250px;
    display: table-cell;
}
/* display flex */

.contianir2{
    display: flex;
    background: #82858b;
    height: 250px;
    width: auto;
}
.red{
    background: red;
    height: 250px;
    width: 100%;
}
.green{
    background: green;
    height: 250px;
    width: 100%;
}
.blue{
    background: blue;
    height: 250px;
    width: 100%;
}
.orange{
    background: orange;
    height: 250px;
    width: 100%;
}